.countryCard {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
input {
  display: flex;
  margin: auto;
  height: 42px;
  width: 50vw;
  font-size: 16px;
  margin-bottom: 12px;
  padding: 4px;
  padding-left: 12px;
}
